# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.travis.yml
.cache
.idea/
setup.cfg
setup.py
tox.ini
data/
test/
x-art/config/*.json
x-art/config/*.txt