# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.travis.yml
.cache
tox.ini
setup.py
setup.cfg
*.db

# idea
.idea/

# log
log/

# auth config
resources/cookie.json